@{
    ViewData["Title"] = "Image AI Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the AI Uploader</h1>
    <p>Go to <a href="/upload">Upload</a> and submit your image, to see what the AI says</p>
</div>
